
    # Make sure directory listing is disabled
	Options +FollowSymLinks -Indexes
	RewriteEngine on

RewriteCond $1 !^(index\.php|img|css|js|android-connect|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
